body {
    margin: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

.container {
    width: 80vw;
    height: 100vh;
    border: 3px solid red;
    position: relative;
    background-position: center;
}

.target {
    position: absolute;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    background-color: brown;
    left: calc(50vh - 15vh);
    top: calc(50vh - 15vh);

}

.target-base {
    width: 50vh;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;

}


.knife {
    width: 18vh;
    height: 18vh;
    position: absolute;
    background-image: url(/knife.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 18vh;
    left: calc(50vh - 9vh);
    bottom: 2vh;
    z-index: 0;
}

.knife-hit {
    width: 100%;
    height: 100%;
    background-image: url(/knife.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 22vh;
    position: absolute;
    left: 0px;
    top: 0px;
}

.knife[data-throwing="true"] {
    animation-name: throw;
    animation-duration: 0.05s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


@keyframes throw {
    from {
        bottom: 2vh;
    }

    to {
        bottom: 24vh;
    }
}

.score {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8vh;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1vh #f00;
    pointer-events: none;
    z-index: 10;
}