    body {
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: #333;
        box-shadow: 0px 0px 20px #111;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
    }

    .numbers {
        width: 620px;
        height: 550px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        margin: 18px 0px;
        gap: 20px;
    }

    .number {
        width: 130px;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: #FFF;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 5px #0003;
        transition-property: box-shadow;
        transition-duration: 0.15s;
        line-height: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay {
        position: absolute;
        z-index: 1000;
        transition: all 0.4s ease;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 3rem;
        line-height: 1;
        text-align: center;
        overflow: hidden;
    }

    .overlay.open {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    .exit {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        background-color: #FFF5;
        background-image: url("/x.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px auto;
        cursor: pointer;
        border-radius: 40px;
        opacity: 1;
        z-index: 1001;
    }