body {
  background-color: rgb(24, 24, 24);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  height: 350px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}