

.background{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.background video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.content {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.text {
    font-family: "poppins";
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    line-height: 100vh;
    filter: drop-shadow(10px, 10px, 7px #000000);
}