.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #333;
    box-shadow: 0px 0px 20px #111;
    border-radius: 10px;
    overflow: hidden;
}


.editor {
    width: 750px;
    height: 560px;
    display: flex;
}

.animations {
    display: flex;
    gap: 6px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.listing {
    width: 120px;
    overflow-y: scroll;

}

.listing-item {
    width: 110px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 4px;
    background-color: #444;
    color: white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.listing-item.add {
    background-image: url('/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px auto;
}



.listing::-webkit-scrollbar {
    display: none;

}

.listing-item.active {
    background-color: #444;
}

.slide {
    flex-grow: 1;
    margin: 8px 8px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.animation-item {
    height: 20px;
    border-radius: 20px;
    border: 2px solid #0008;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    padding: 0px 10px;
    font-weight: 600;
}

.slide.input {
    height: 20px;
    border-radius: 20px;
    border: 2px solid #0008;
    font-size: 60pxpx;
    line-height: 20px;
    cursor: pointer;
    padding: 0px 10px;
    font-weight: 600px;
    text-align: center;
}

.backgrounds {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.background-item {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.background-item:hover {
    transform: scale(1.1);
}

.delete {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-image: url('/trash-alt.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-color: #FFF2;
}

.play {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-image: url('/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-color: #FFF2;
}

.prev {
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    background-image: url('/arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-color: #FFF2;
    z-index: 9999;
}

.next {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    background-image: url('/arrow-thin-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-color: #FFF2;
    z-index: 9999;
}

.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    background-image: url('/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-color: #FFF2;
    z-index: 9999;
}

.show {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.show-slide-idle {
    width: inherit;
    height: inherit;
    position: absolute;
    transition: none;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.slide-text {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}


.show-slide-idle {
  transition: all 0.5s ease;
}

.instant {
  opacity: 1;
}

.fade {
  animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.blur {
  animation: blurIn 0.5s ease forwards;
}

@keyframes blurIn {
  from { filter: blur(10px); opacity: 0; }
  to { filter: blur(0); opacity: 1; }
}

.up {
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.down {
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.rotate {
  animation: rotateIn 0.5s ease forwards;
}

@keyframes rotateIn {
  from { transform: rotateY(-180deg); opacity: 0; }
  to { transform: rotate(0deg); opacity: 1; }
}
