body{
    background-color: 	#606a9f;
}

.container{
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: #479c9d;
    border-radius: 15px;
    padding: 25px;
}

.values{
    font-size: 20px;
    font-family: "Poppins";
    text-align: center;
}
